deploymentdir = /usr/local/tomcat/webapps
java-home = /usr/lib/jvm/oracle-java6-jdk-amd64
java-debug = on
javac-target = 1.6
javac-compiler = javac1.6
javac-source = 1.6
javac-executable = bin/javac
javac-fork = true
postgresql-hostname = database
postgresql-username = poem
postgresql-port = 5432
postgresql-bin-dir = /usr/bin
docker-container-web = oryxeditorextension_web_1
